# Build only if commit is tagged or PR is opened/updated
if: |
((tag IS present) OR (type = pull_request)) AND \
((commit_message != "update spm") AND (sender != env(GITHUB_NAME)))

language: objective-c
osx_image: xcode13.1

xcode_workspace: Leanplum.xcworkspace
xcode_scheme: LeanplumSDKApp
xcode_destination: platform=iOS Simulator,OS=15.0,name=iPhone 12

cache: cocoapods
podfile: Podfile
before_install:
  - gem install cocoapods # Since Travis is not always on latest version
  - pod install

before_deploy:
  - ./Tools/verifyTag.sh
  - >
    if ! [ "$BUILD_ONCE" ]; then
      export BUILD_ONCE=1;
      ./Tools/build.sh;
    fi

after_deploy:
  >-
    if ! [ "$AFTER_DEPLOY_RUN" ]; then
      export AFTER_DEPLOY_RUN=1;
      ./Tools/triggerRondo.sh;
      version=`cat sdk-version.txt`; if [[ $version != *"beta"* ]]; then ./Tools/triggerRN.sh; fi; 
    fi

deploy:
  - provider: script
    skip_cleanup: true
    script: ./Tools/push.sh
    on:
      tags: true
  - provider: releases
    skip_cleanup: true
    api_key: $GITHUB_TOKEN
    file: 
      - Leanplum.framework.zip
      - LeanplumLocation.framework.zip
      - Release/dynamic/Leanplum.xcframework.zip
    draft: true
    on:
      tags: true
  - provider: script
    skip_cleanup: true
    script: ./Tools/pushSPM.sh
    on:
      tags: true
