if: (tag IS present) OR (type = pull_request)

language: objective-c
osx_image: xcode12.5

xcode_workspace: Leanplum.xcworkspace
xcode_scheme: LeanplumSDKApp
xcode_destination: platform=iOS Simulator,OS=14.5,name=iPhone 12

cache: cocoapods
podfile: Podfile
before_install:
  - gem install cocoapods # Since Travis is not always on latest version
  - pod install

before_script:
  >-
      if [ -z "$TRAVIS_TAG" ] 
        then 
          echo "No tag, so not triggering Location" 
        else
          ./Tools/triggerLocation.sh
        fi

before_deploy:
  - ./Tools/verifyTag.sh
  - ./Tools/build.sh

after_deploy:
  >-
    if ! [ "$AFTER_DEPLOY_RUN" ]; then
      export AFTER_DEPLOY_RUN=1;
      ./Tools/triggerRondo.sh;
      version=`cat sdk-version.txt`; if [[ $version != *"beta"* ]]; then ./Tools/triggerRN.sh; fi; 
    fi

deploy:
  - provider: script
    skip_cleanup: true
    script: ./Tools/push.sh
    on:
      tags: true
  - provider: releases
    skip_cleanup: true
    api_key: $GITHUB_TOKEN
    file: Release/Leanplum.framework.zip
    draft: true
    on:
      tags: true
