language: objective-c
osx_image: xcode10

xcode_workspace: Example/Leanplum-SDK.xcworkspace
xcode_scheme: Leanplum-SDK-Example
xcode_destination: platform=iOS Simulator,OS=10.1,name=iPhone X

cache: cocoapods
podfile: Example/Podfile
before_install:
- gem install cocoapods # Since Travis is not always on latest version
- pod install --project-directory=Example
