language: objective-c
osx_image: xcode11.3

xcode_workspace: Example/Leanplum-SDK.xcworkspace
xcode_scheme: Leanplum-SDK-Example
xcode_destination: platform=iOS Simulator,OS=13.3,name=iPhone 11

cache: cocoapods
podfile: Example/Podfile
before_install:
- gem install cocoapods # Since Travis is not always on latest version
- pod install --project-directory=Example

before_deploy:
- ./Tools/verifyTag.sh
- ./Tools/build.sh

deploy:
  - provider: releases
    skip_cleanup: true
    api_key: $GITHUB_TOKEN
    file: Leanplum.framework.zip
    draft: true
    on:
      tags: true
  - provider: script
    skip_cleanup: true
    script: ./Tools/push.sh
    on:
      tags: true
